In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [8]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

In [4]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///hawaii.sqlite")

In [5]:
# reflect an existing database into a new model
# reflect the tables

Base = automap_base()
Base.prepare(engine, reflect=True)

In [6]:
# View all of the classes that automap found

Base.classes.keys()

['measurement', 'station']

In [18]:
inspector = inspect(engine)
tables = inspector.get_table_names()

In [25]:
measurement_columns = []
for column in inspector.get_columns("measurement"):
    measurement_columns.append(column["name"])
measurement_columns

['id', 'station', 'date', 'prcp', 'tobs']

In [26]:
station_columns = []
for column in inspector.get_columns("station"):
    station_columns.append(column["name"])
station_columns

['id', 'station', 'name', 'latitude', 'longitude', 'elevation']

In [16]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [17]:
# Create our session (link) from Python to the DB
session = Session(engine)

# Exploratory Precipitation Analysis

In [38]:
# Find the most recent date in the data set.
latest = session.query(Measurement.date).order_by(Measurement.date.desc()).first()
latest

('2017-08-23')

In [39]:
latest=latest[0]
latest

'2017-08-23'

In [41]:
latest=dt.datetime.strptime(latest,"%Y-%m-%d")

In [47]:
start_date = latest-dt.timedelta(days=365)
#it annoyed me to not be able to do years but 2017 wasn't a leap year so , I GUESS

In [74]:
year = session.query(Measurement.date, Measurement.prcp).filter(Measurement.date > start_date).all()

In [75]:
date = [] 
precipitation = []

for y in year:
    date.append(y.date)
    precipitation.append(y.prcp)

In [76]:
year_df = pd.DataFrame({"date": date, "precipitation": precipitation})

In [77]:
year_df.head()

         date  precipitation
0  2016-08-24           0.08
1  2016-08-25           0.08
2  2016-08-26           0.00
3  2016-08-27           0.00
4  2016-08-28           0.01

In [78]:
year_df = year_df.set_index("date")

In [80]:
year_df = year_df.sort_index()

In [83]:
year_df = year_df.fillna(0)

In [84]:
year_df.head()

            precipitation
date
2016-08-24           0.08
2016-08-24           0.00
2016-08-24           2.15
2016-08-24           2.28
2016-08-24           2.15

In [ ]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 
# Starting from the most recent data point in the database. 



# Calculate the date one year from the last date in data set.


# Perform a query to retrieve the data and precipitation scores


# Save the query results as a Pandas DataFrame and set the index to the date column


# Sort the dataframe by date


# Use Pandas Plotting with Matplotlib to plot the data

In [ ]:
# Use Pandas to calcualte the summary statistics for the precipitation data

# Exploratory Station Analysis

In [ ]:
# Design a query to calculate the total number stations in the dataset

In [ ]:
# Design a query to find the most active stations (i.e. what stations have the most rows?)
# List the stations and the counts in descending order.

In [ ]:
# Using the most active station id from the previous query, calculate the lowest, highest, and average temperature.

In [ ]:
# Using the most active station id
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

# Close session

In [ ]:
# Close Session
session.close()